<!DOCTYPE html>
<html lang="en" ng-app="donorEntry">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Donor Form</title>

    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }
    </style>
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../js/DonorController.js"></script>
</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="location.href='donor_basic_info.html'" type="button">Back</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="page-wrapper" ng-controller="donorForm" ng-cloak>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" ng-hide="myMod.isModify == 'true'">New Donor Entry</h1>
                <h1 class="page-header" ng-hide="myMod.isModify == 'false'">Edit Donor</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Donor Information
                    </div>
                    <div class="panel-body" >
                        <div class="row">
                            <form role="form" name="donorFormPage">
                                <div class="col-lg-6">
                                    <div class="form-group" >
                                        <label>Donor Status</label>
                                        <select class="form-control" ng-model="state" required>
                                            <option ng-repeat="status in statuses" ng-selected="Active">{{status}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group" >
                                        <label>Donor Type</label>
                                        <select class="form-control" ng-model="type" required>
                                            <option ng-repeat="type in types" ng-selected="Individual">{{type}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group" style="padding-top: 1em">
                                        <!-- Dropdown menu for choosing a salutation for a donor; option to add more available -->
                                        <label>Salutations</label>
                                        <select class="form-control" ng-model="salutation" required>
                                            <option ng-repeat="salute in salutations" ng-model="salutation">{{salute}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>First name / Middle name</label>
                                        <input class="form-control" placeholder="Enter first/middle name here" ng-model="firstName" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input class="form-control" placeholder="Enter last name here" ng-model="lastName">
                                    </div>

                                    <div class="form-group">
                                        <label>Nickname</label>
                                        <input class="form-control" placeholder="Enter nickname here" ng-model="alias">
                                    </div>

                                    <div class="form-group">
                                        <label>Company</label>
                                        <input class="form-control" placeholder="Company affiliation" ng-model="company" ng-disabled="type != 'Company'">
                                    </div>

                                    <div class="form-group">
                                    <div class="form-group email-group" ng-repeat="email in emails">
                                        <label>E-mail {{$index + 1}}</label>
                                        <br>
                                        <label><input type="radio" ng-click="primaryEmail(email)" name="isPrimaryEmail" ng-checked="email.is_primary == 1" required> Primary Email</label>
                                        <input class="form-control" placeholder="Enter e-mail address here" ng-model="email.email_address" type="email" required>
                                        <button ng-click="emails.splice($index, 1)" aria-label="Remove">Remove email</button>
                                    </div>
                                    <button type="button" ng-click="addEmail()">Add email</button>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group" ng-repeat="phone in phones">
                                            <label>Phone {{$index + 1}}</label>
                                            <br>
                                            <label><input type="radio" ng-click="primaryPhone(phone)" name="isPrimaryPhone" ng-checked="phone.is_primary == 1" required> Primary Phone</label>
                                            <div class="dropdown">
                                                <select class="btn btn-default dropdown-toggle" type="button" ng-model="phone.phone_type" required>
                                                    <option ng-repeat="type in phoneTypes">{{type}}</option>
                                                </select>
                                            </div>
                                            <input type="tel" class="form-control" placeholder="Enter phone number here" phone-input ng-model="phone.phone_number" ng-init="phone.phone_number = phone.phone_number|tel" minlength=12 required>
                                            <button ng-click="phones.splice($index, 1)" aria-label="Remove">Remove phone</button>
                                        </div>
                                        <button type="button" ng-click="addPhone()">Add Phone</button>
                                    </div>


                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                    <div class='form-group address-group' ng-repeat="address in addresses" style="padding-bottom: 1em">
                                        <label>Address {{$index + 1}}</label>
                                        <br>
                                        <label><input type="radio" ng-click="primaryAddress(address)" name="isPrimaryAddress" ng-checked="address.is_primary == 1" required> Primary Address</label>
                                        <div class="form-group" style="padding-top: 1em">
                                            <label style="padding-right: 1em">Address Type:   </label>
                                            <br>
                                            <label ng-repeat="addressType in addressTypes" style="padding-right: 1em"> <input type="radio" ng-model="address.address_type" ng-value="addressType" required>{{addressType}}</label>
                                        </div>
                                            <div class="form-group">
                                            <label>Street</label>
                                            <input class="form-control" placeholder="(e.g. 1234 Biz Street)" ng-model="address.address_line_1" required>
                                        </div>
                                            <div class="form-group">
                                            <label>City</label>
                                            <input class="form-control" placeholder="Enter city here" ng-model="address.city" required>
                                        </div>
                                            <div class="form-group">
                                            <label>State</label>
                                            <input class="form-control" placeholder="Enter state here" ng-model="address.state" required>
                                        </div>
                                            <div class="form-group">
                                            <label>Zip Code</label>
                                            <input class="form-control" placeholder="Enter zip code here" ng-model="address.zip_code" required>
                                        </div>
                                        <button ng-click="addresses.splice($index, 1)" aria-label="Remove">Remove address</button>
                                    </div>
                                    <button type="button" ng-click="addAddress()">Add Address</button>
                                    </div>
                                          <!-- Final Submit and Reset buttons for the overall entry form; edited with float style
                                         to default to the right side of the page -->
                                </div>
                            </form>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <div class="form-group" style="position: relative; float: right">
                            <button type="reset" class="btn btn-warning" ng-hide="myMod.isModify == 'true'">Reset</button>
                            <button type="submit" class="btn btn-success" ng-click="submitDonor('')" ng-disabled="!donorFormPage.$valid">Save</button>
                            <button type="submit" class="btn btn-primary" ng-click="submitDonor('toForm')" ng-hide="myMod.isModify == 'true'" ng-disabled="!donorFormPage.$valid">Save & New</button>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
