<!DOCTYPE html>
<html lang="en" ng-app="allPledges">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Pledge Form</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../js/PledgeController.js"></script>

</head>

<body class="ng-cloak" ng-controller="PledgeController">

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="all_pledges.html">Back</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="page-wrapper" >
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New Pledge Form</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pledge Information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" name="pledge_form" novalidate>
                                <!-- Using PledgeController here to modify display in entry form based on Contribution Type selected -->
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding-top: 1em">
                                        <label>Donor name</label>
                                        <input class="form-control" name="name" ng-model="pledge_donor_name" pattern="[a-zA-Z]+" ng-minlength="1" placeholder="Enter donor's full name here" required>
                                        <div class="entry_error" ng-show="pledge_form.name.$invalid && !pledge_form.name.$pristine">Donor's name is required, and must be alphabetic characters only.</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Patient ID</label>
                                        <input class="form-control"
                                               type="number"
                                               name="id"
                                               ng-model="pledge_patient_id"
                                               placeholder="Enter patient's ID here"
                                               ng-pattern="/^[0-9]/"
                                               required>
                                        <div class="entry_error" ng-show="pledge_form.id.$invalid && !pledge_form.id.$pristine">Patient ID should be numeric characters only.</div>
                                    </div>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding-top:1em">
                                        <label>Target amount</label>
                                        <input class="form-control"
                                               name="target_amount"
                                               type="number"
                                               ng-model="pledge_target_amount"
                                               placeholder="Enter pledge target here (e.g. 1000.00)"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                               step="0.01"
                                               required>
                                        <div class="entry_error" ng-show="pledge_form.target_amount.$invalid && !pledge_form.target_amount.$pristine">Amount must only be up to two decimal places.</div>
                                    </div>

                                    <!-- NOTE: ng-init will invoke a function as soon as the page is initialized -->
                                    <div class="form-group">
                                        <label>Target year</label>
                                        <select class="form-control" ng-model="pledge_target_year" ng-init="calendarList()" required>
                                            <option ng-repeat="year in list_of_years">{{year}}</option>
                                        </select>
                                    </div>

                                    <!-- Final Submit and Reset buttons for the overall entry form; edited with float style
                                         to default to the right side of the page -->
                                    <div class="form-group" style="position: relative; float: right">
                                        <button type="reset" class="btn btn-warning">Reset</button>
                                        <button type="submit" class="btn btn-success" ng-disabled="pledge_form.$invalid" ng-click="submitPledge(pledge_form.$valid)">Save</button>
                                        <button type="submit" class="btn btn-primary" ng-disabled="pledge_form.$invalid" ng-click="submitPledgeAndNew(pledge_form.$valid)">Save & New</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
