<!DOCTYPE html>

<!-- Include module responsible for all pledge data entry related elements here -->
<html lang="en" ng-app="pledgeEntry">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pledge Entry</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Don't forget to include angular.js scripts and the JS file with controller logic. -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="../js/PledgeController.js"></script>

</head>

<!-- Include controller responsible for pledge forms here -->
<body class="ng-cloak" ng-controller="PledgeFormController">

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="all_pledges.html">Back</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="page-wrapper" >
        <div class="row">
            <div class="col-lg-12">

                <!-- Display header for form entry page changes depending on whether the form is for modifying an
                     existing entry or adding a new one. -->
                <h1 class="page-header" ng-hide="is_modify_form == 'true'">New Pledge Entry</h1>
                <h1 class="page-header" ng-hide="is_modify_form == 'false'">Edit Pledge</h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="panel panel-default">

                    <!-- Data-bound display for showing which donor's pledge's basic information page user is on. -->
                    <div class="panel-heading">
                        Pledge Information for {{pledge_donor_name_for_basic_info}}
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <!-- Disables the native validation prompts from the browser to enable custom validation notes. -->
                            <form role="form" name="pledge_form" novalidate>

                                <!-- Using PledgeController here to modify display in entry form based on Contribution Type selected -->
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding-top: 1em">

                                        <!-- Initializes the donors dropdown with all the donor names from the database -->
                                        <label>Donor name</label>

                                        <!-- Dropdown allows choosing a donor when not modifying data -->
                                        <select class="form-control"
                                                ng-init="getDropdownDonors()"
                                                name="name"
                                                ng-disabled="is_modify_form === 'true'"
                                                ng-hide="is_modify_form == 'true'"
                                                ng-model="donor_selected"
                                                required>
                                            <!-- Drop-down options are listed by donors' names sorted by last name ABC order, but their actual
                                                 values when selected are their donor ID's. -->
                                            <option class="ng-cloak" ng-repeat="donor in temp_donor_list" ng-value="donor.id">{{donor.name}}</option>
                                        </select>

                                        <!-- Drop-down disabled for choosing a donor when modifying existing data to prevent users from potentially
                                             re-mapping donors to the patients they are pledged to. -->
                                        <select class="form-control"
                                                ng-show="is_modify_form == 'true'"
                                                ng-disabled="is_modify_form === 'true'">
                                            <option class="ng-cloak">Field disabled to prevent changing donor mapping</option>

                                        </select>
                                        <!-- Display error message if the drop-down for donor name is not selected. -->
                                        <div class="entry_error" ng-show="pledge_form.name.$invalid && !pledge_form.name.$pristine">Please select a donor to associate with pledge.</div>
                                    </div>

                                    <div class="form-group">
                                        <label>Patient ID</label>

                                        <!-- Drop-down options listed by patient ID's in increasing order; drop-down is also disabled
                                             if user is modifying an existing entry to prevent re-mapping of donor to patient in pledge. -->
                                        <select class="form-control"
                                               ng-init="getDropdownPatients()"
                                               name="id"
                                               ng-disabled="is_modify_form === 'true'"
                                               ng-model="pledge_patient_id"
                                               required>
                                            <option class="ng-cloak" ng-repeat="item in temp_patient_list | unique:'patient_id'">{{item.patient_id}}</option>
                                        </select>
                                        <!-- Display error message if the drop-down for patient ID is not selected. -->
                                        <div class="entry_error" ng-show="pledge_form.id.$invalid && !pledge_form.id.$pristine">Please select a patient ID to associate with pledge.</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <!-- Dynamic input fields for inserting new or deleting current/existing instance of installments to be tied to the
                                                 pledge entry. Users can add multiple installment entries or none at all, and modify/add more later on with
                                                 existing entries. -->
                                            <div class='form-group address-group' ng-repeat="installment in temp_installments" style="padding-bottom: 1em">
                                                <label>Installment {{$index + 1}}</label>

                                                <div class="form-group" style="padding-top: 1em">

                                                    <!-- Field for inserting pledge amount. -->
                                                    <label>Amount</label>
                                                    <input class="form-control"
                                                           type="number"
                                                           name="installment_amount"
                                                           step="0.01"
                                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                                           placeholder="(e.g. 1000 or 1000.00)"
                                                           ng-model="installment.amount"
                                                           required>
                                                    <!-- Display error message if user tries to put in values < 0.01 for pledge amounts. -->
                                                    <div class="entry_error" ng-show="pledge_form.installment_amount.$invalid && !pledge_form.installment_amount.$pristine">Amount must be non-negative and up to two decimal places.</div>

                                                </div>
                                                <div class="form-group">

                                                    <!-- Field for inserting pledge date. -->
                                                    <label>Date</label>
                                                    <input class="form-control"
                                                           name="installment_date"
                                                           type="date"
                                                           ng-model="installment.installment_date"
                                                           required>
                                                    <div class="entry_error" ng-show="pledge_form.installment_date.$invalid && !pledge_form.installment_date.$pristine">Please enter the pledge installment date.</div>
                                                </div>

                                                <!-- Remove button for deleting installment entry fields dynamically. -->
                                                <button ng-click="temp_installments.splice($index, 1)" aria-label="Remove">Remove installment</button>
                                            </div>

                                            <!-- Add button for adding installment entry fields dynamically. -->
                                            <button type="button" ng-click="addInstallment()">Add installment</button>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding-top:1em">

                                        <!-- Field for inserting pledge target amount. -->
                                        <label>Target amount</label>
                                        <input class="form-control"
                                               name="target_amount"
                                               type="number"
                                               ng-model="pledge_target_amount"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                               placeholder="Enter pledge amount here (e.g. 1000 or 1000.00)"
                                               required>
                                        <!-- Display error message if amount is not in #.## format. -->
                                        <div class="entry_error" ng-show="pledge_form.target_amount.$invalid && !pledge_form.target_amount.$pristine">Amount must only be up to two decimal places.</div>
                                    </div>

                                    <!-- NOTE: ng-init will invoke a function as soon as the page is initialized -->
                                    <div class="form-group">
                                        <label>Target date</label>

                                        <!-- Field for inserting pledge date. -->
                                        <input class="form-control" type="date" ng-model="pledge_date" required>
                                        <!-- Display error message if date is not entered/selected. -->
                                        <div class="entry_error" ng-show="pledge_form.date.$invalid && !pledge_form.date.$pristine">Please select a target pledge date.</div>
                                    </div>

                                    <!-- Final Submit and Reset buttons for the overall entry form; edited with float style to default to the right side of the page -->
                                    <!-- NOTE: Buttons are disabled until all the required fields of the entry form page are filled out correctly. -->
                                    <div class="form-group" style="float: right">
                                        <button type="reset" class="btn btn-warning">Reset</button>
                                        <button type="submit" class="btn btn-success" ng-disabled="pledge_form.$invalid" ng-click="submitPledge(pledge_form.$valid, '')">Save</button>
                                        <button type="submit" class="btn btn-primary" ng-disabled="pledge_form.$invalid" ng-hide="is_modify_form === 'true'" ng-click="submitPledge(pledge_form.$valid, 'toForm')">Save & New</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
